/*========================Team Section========================*/

.team-section {
  padding: 110px 0;
}

.team-h1-p-text {
  width: 100%;
  max-width: 603px;
  margin: 0 auto 40px;
}

.team-h1 {
  &:after {
    content: "";
    display: block;
    width: 87px;
    height: 4px;
    margin: 20px auto 0;
  }
}


/*===== team-items =====*/

.team-wrapper {
  display: flex;
  justify-content: space-between;
}

.team-items {
  width: 20%;
}

.team-h2 {
  padding: 41px 0 5px 0;
}

.team-h3 {
  padding: 0 0 26px 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  margin: 31px auto;
}

.img-url-sm {}
