.btn-wwu {
  width: 293px;
  height: 70px;
  border-radius: 4px;
  margin: 0 auto 140px auto;
  padding: 0;
  line-height: 26.19px;
  letter-spacing: 0.27px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}